#img-single-room {
    width: 235px;
    height: 225px;
}

#img-standard-room {
    width: 235px;
    height: 225px;
}

#img-deluxe-room {
    width: 235px;
    height: 225px;
}

#img-double-room {
    width: 235px;
    height: 225px;
}
